.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hero-text {
  text-shadow: 0 0 10px rgba(197,225,255,.5)
}